.manageUser{
    padding: 20px ;
    background-color: #f7f8f9;
}

.dataTable{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dataTable h1{
    background-color: white;
    margin: 0;
    padding: 10px;
}

.dataTable p{
    margin-bottom: .3rem;
}

.viewHead {
    text-transform: capitalize;
}

.viewBody {
    text-transform: capitalize;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}

.bold {
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
}