.forgotPass {
    margin: 50px auto;
    text-align: center;
}

.error {
    text-align: left;
    color: #ff5b4a;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .2px;
    margin: 5px 0 0;
}

.forgotForm {
    padding: 3% 3% 3% 5%;
    color: #737373;
    transition: all .5s ease-in;
}

.forgotForm h1 {
    color: #1e1e1e;
    line-height: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 4%;
}

.field {
    margin: 20px 0;
    padding: 0 0 0 32%;
    transition: all .3s ease-in;
}

.field .input {
    outline: none;
    padding: 0 0;
    text-align: start;
}

.input p {
    text-align: left;
    color: black;
    margin: 0 0 6px;
}

.input input {
    width: 52%;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    background-color: #ededed;
    padding: 8px 10px;
    transition: all 1s ease-in-out;
}

.input svg {
    font-size: 20px;
}

.togglePassword {
    position: relative;
}

.togglePassword svg {
    position: relative;
    right: 5%;
}

.submit {
    margin: 3% 0 0;
    padding: 12px 100px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    line-height: 21px;
}

.submit svg {
    font-size: 25px;
}

.submit:hover {
    background-color: #B7B700;
    transition: .3s ease-in-out;
}

.done{
    margin: 26px 0 0;
    color: #1e1e1e;
}

@media (max-width :324.98px) {

    .forgotForm {
        padding: 0;
        overflow: hidden;
    }

    .forgotForm h1 {
        font-size: 30px;
        margin: 0 0 24px;
    }

    .field {
        margin: 14px 0;
        padding: 0 0 0 9%;
    }

    .field .error {
        font-size: 12px !important;
    }

    .input {
        position: relative;
    }

    .input input {
        width: 89%;
    }

    .togglePassword {
        position: absolute;
        right: 14%;
        bottom: 10px;
    }

    .submit {
        padding: 12px 66px;
        margin: 8% 0 0;
    }
}

@media (max-width :424.98px) {}

@media (min-width :325px) and (max-width: 575.98px) {

    .forgotForm {
        padding: 0;
        overflow: hidden;
    }

    .forgotForm h1 {
        font-size: 30px;
        margin: 0 0 20px;
    }

    .field {
        margin: 14px 0;
        padding: 0 0 0 14%;
    }

    .field .error {
        font-size: 12px !important;
    }

    .input input {
        width: 84%;
    }

    .togglePassword svg {
        right: 10%;
        top: -1px;
    }

    .submit {
        padding: 12px 82px;
        margin: 8% 0 0;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .forgotForm h1 {
        font-size: 30px;
        margin: 0 0 7%;
    }

    .input input {
        width: 74%;
    }

    .field {
        padding: 0 0 0 22%;
    }
    

    .togglePassword svg {
        right: 8%;
        top: -1px;
    }

    .submit {
        padding: 12px 80px;
        margin: 5% 0 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .forgotForm h1 {
        font-size: 30px;
        margin: 0 0 7%;
    }

    .input input {
        width: 69%;
    }

    .field {
        padding: 0 0 0 22%;
    }

    .submit {
        padding: 12px 110px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .input input {
        width: 65%;
    }

    .field {
        padding: 0 0 0 26%;
    }

}