.marathonSlider {
    width: 100%;
    height: 100vh;
}

.marathonSlider>div>button:nth-child(1) {
    left: 5%;
    z-index: 1;
}

.marathonSlider>div>button:nth-child(3) {
    right: 5%;
}

/* .marathonSlider>div>button:nth-child(1)::before{
    
} */
.marathonSlider>div>button:nth-child(1)::before,
.marathonSlider>div>button:nth-child(3)::before {
    font-size: 30px;
    background-color: transparent;
    color: white;
}

.sliderImage {
    width: 100%;
    height: 100vh;
    position: relative;
}

.sliderImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;;
}

.sliderImage .info1 {
    position: absolute;
    bottom: 6%;
    left: 5%;
}

.info1 h4 {
    margin: 0 0 0 .5%;
    font-size: 22px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    color: white;
}

.info1 h1 {
    margin: 0;
    padding: 0;
    font-size: 117px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: .8px;
}

.sliderImage .info2 {
    position: absolute;
    bottom: 6%;
    left: 5%;
}

.info2 h4 {
    margin: 0 0 0 1%;
    font-size: 22px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    color: white;
}

.info2 h1 {
    margin: 0;
    padding: 0;
    font-size: 136px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: .8px;
}

@media screen and (max-width: 374.98px) {
    .marathonSlider>div>button:nth-child(1)::before,
    .marathonSlider>div>button:nth-child(3)::before {
        display: none;
    }

    .sliderImage .info1 ,
    .sliderImage .info2 {
        left: 4%;
    }
    .info1 h1,
    .info2 h1 {
        font-size: 59px;
        white-space: wrap !important;
        line-height: 60px;
    }
    .info1 h4,
    .info2 h4 {
        font-size: 19px;
        line-height: 50px;
    }
}

@media screen and (min-width:375px) and (max-width: 424.98px) {
    .marathonSlider>div>button:nth-child(1)::before,
    .marathonSlider>div>button:nth-child(3)::before {
        display: none;
    }

    .sliderImage .info1 ,
    .sliderImage .info2 {
        left: 4%;
    }
    .info1 h1,
    .info2 h1 {
        font-size: 69px;
        white-space: wrap !important;
        line-height: 70px;
    }
    .info1 h4,
    .info2 h4 {
        font-size: 19px;
    }
}

@media screen and (min-width:425px) and (max-width: 575.98px) {
    .marathonSlider>div>button:nth-child(1)::before,
    .marathonSlider>div>button:nth-child(3)::before {
        display: none;
    }

    .sliderImage .info1 ,
    .sliderImage .info2 {
        left: 4%;
    }
    .info1 h1,
    .info2 h1 {
        font-size: 78px;
        white-space: wrap !important;
        line-height: 85px;
    }
    .info1 h4,
    .info2 h4 {
        font-size: 19px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .marathonSlider>div>button:nth-child(1)::before,
    .marathonSlider>div>button:nth-child(3)::before {
        display: none;
    }
    
    .sliderImage .info1 ,
    .sliderImage .info2 {
        left: 3%;
    }
    .info1 h1,
    .info2 h1 {
        font-size: 101px;
        white-space: wrap !important;
        line-height: 124px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .marathonSlider>div>button:nth-child(1)::before,
    .marathonSlider>div>button:nth-child(3)::before {
        display: none;
    }

    .sliderImage .info1 ,
    .sliderImage .info2 {
        left: 3%;
    }
    .info1 h1,
    .info2 h1 {
        font-size: 121px;
        white-space: wrap !important;
        line-height: 124px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .marathonSlider>div>button:nth-child(1)::before,
    .marathonSlider>div>button:nth-child(3)::before {
        display: none;
    }

    .sliderImage .info1 ,
    .sliderImage .info2 {
        left: 4%;
    }
    .info1 h1{
        font-size: 89px;
    }
    .info2 h1 {
        font-size: 103px;
    }

}



/* @media (min-width: 1400px) {
} */